<h1>Order</h1>

<%=form_for :order, url: orders_path, method: 'post' do |f|%>
  <div>
    <%=f.label :name%><br/>
    <%=f.text_field :name%><br/>
  </div>

  <div>
    <%=f.label :phone%><br/>
    <%=f.text_field :phone%><br/>
  </div>

  <div>
    <%=f.label :order_content%><br/>
    <%=f.text_field :order_content, id: 'order-content'%><br/>
  </div>

  <%=f.submit 'Make order', onclick: 'clearLocalStorage()'%>
<%end%>
